.popup__save {
    width: 100%;
    margin-top: 32px;
    height: 50px;
    background: #000000;
    border: 0;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF; 
    cursor: pointer;
    transition: all .6s;
}
.popup__save:hover {
    opacity: .8;
}