.profile__title {
    max-width: 294px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}
@media screen and (max-width: 527px) {
    .profile__title {
        max-width: 189px;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}