.footer {
    padding-top: 66px;
    padding-bottom: 60px;
}
@media screen and (max-width: 880px) {
    .footer {
        padding: 48px 20px 0 20px;
    }
}
@media screen and (max-width: 527px) {
    .footer {
        padding-bottom: 36px;
    }
}