@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");

/* --- main style --- */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__link/header__link.css");
@import url("../blocks/header/__logo/header__logo.css");
/* --- profile --- */
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__wrapper/profile__wrapper.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__title/profile__title.css");
@import url("../blocks/profile/__descr/profile_descr.css");
@import url("../blocks/profile/__change/profile__change.css");
@import url("../blocks/profile/__button/profile__button.css");
/* --- elements --- */
@import url("../blocks/elements/elements.css");
/* --- element --- */
@import url("../blocks/element/element.css");
@import url("../blocks/element/__img/element__img.css");
@import url("../blocks/element/__group/element__group.css");
@import url("../blocks/element/__title/element__title.css");
@import url("../blocks/element/__like/element__like.css");
@import url("../blocks/element/__like/_active/element__like_active.css");
/* --- footer --- */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__text/footer__text.css");
/* --- popup --- */
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/__overlay/popup__overlay.css");
@import url("../blocks/popup/__title/popup__title.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/popup/__form/popup__form.css");
@import url("../blocks/popup/__info/popup__info.css");
@import url("../blocks/popup/__save/popup__save.css");
@import url("../blocks/popup/_active/popup_active.css");
